/* body{
    background: radial-gradient( rgb(118, 118, 237), rgb(239, 140, 239),pink);
} */

body{
    background: linear-gradient(white,white, pink);
}

#header{
    height:  215px;
    width: 100%;
    font-size: 25px;
    color: rgb(200, 90, 120);
    text-align: end;
    background-color: white;
    background: linear-gradient(to right, pink,purple, rgb(135, 135, 228));    
    
}
#text{
    /* height: 300px;
    width: 1000px; */
    animation: red-to-black 5s linear 3s 1 reverse;
    text-align: center;
    /* padding: auto; */
    
    /* word-wrap: break-word; */
    /* padding-right: 200px; */
}

#image{
    height: 200px;
    width: 30%;
    /* border: 5px double black; */
    /* animation: red-ti-black 2s linear 1s 1 reverse; */
   float: left;
   /* align-self: center; */
   padding: 6px;
   /* padding-left: 40px;
   padding-top: 40px; */
    /* margin-right: 480px; */
    
}
.random{
    color: palevioletred;
    text-align: start;
    animation: red-to-black 5s linear 3s infinite alternate-reverse;

}
@keyframes red-to-black{

    0%{
        /* background: red; */
        transform: translate(0px, 0px);
    }
    30%{
        /* background: yellow; */
        /* transform: scale(2); */
        transform: translate(20px, 0px);
    }
    100%{
        /* background: black; */
        /* transform: scale(5); */
        transform: translate(90px,00px);
    }

}

.flex-container{
    margin: 5px;
    height: 80px;
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: center;
}

.flex-container-item{
    color: black;
    text-align: center;
    font-size: 20px;
    /* width: 300px; */
    text-decoration: underline;
}

#flex-item{
    margin-right: 10px;
}

.flex-container-item:hover{
    color: red;
}

.imagess{
    height: 30px;
}

#button{
    background: linear-gradient(blueviolet, pink);
    height: 40px; width: 30%; font-size: 20px;
}

#button:hover{
    background: linear-gradient( pink,blueviolet);
    /* height: 45px; width: 35%; font-size: 25px; */
}

#contact{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.imagess:hover{
    height: 40px;
    width: 40px;
}










